extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)
block content
  //-h1= title
  div(id='questionButtonContainer')
    h2 Recently Updated Questions
    a(id='ask-question' href="/questions") Ask Question
  div(id='questionList-Container')
    div(id='questionList-innerContainer')
      each question in listOfQuestions
            div(id=`question-container-${question.id}`).questionContainer
                a(href=`/questions/${question.id}`).question-title.question-title-hover= question.title
                .question-user-content
                  .question-user-box
                    p.question-posted-by Posted by: #{question.User.dataValues.username}
                    .question-answers 
                      i(class="fas fa-graduation-cap" id="profile-grad-icon")
                      p.question-answers-content #{question.Answers.length}
                div.content-container
                  div(id=`content-${question.id}`).question-content= question.content
                if locals.user
                  if locals.user.id === question.user_id
                    div.buttonsContainer
                        button(id=`${question.id}-delete` data-inline="true" ).delete-btn Delete
                        button(id=`${question.id}-edit`  data-inline="true" ).edit-btn Edit
                        button(id=`cancel-edit-${question.id}` hidden=true).cancel-btn Cancel
                        button(id=`confirm-edit-${question.id}` hidden=true).confirm-btn Confirm
