extends layout.pug
include utils.pug
append head
    link(rel="stylesheet" href="/stylesheets/questions.css")
    script(src="/javascripts/question.js" type="module" defer)
    script(src="/javascripts/answer.js" type="module" defer)
    script(src="/javascripts/comment.js" type="module" defer)


block content


    div(id=`question-container-${question.id}`).question-container
            h1.question-top-section-title= question.title
            .question-user-info
                p.question-user-info-item Posted: #{question.createdAt.toDateString()}
                p.question-user-info-item Posted By:
                    a(href=`/users/${userPostedQuestion.id}` class='question-user-profile-link') #{userPostedQuestion.username}
                .question-user-info-item
                    i(class="fas fa-graduation-cap" id="profile-grad-icon")
                    p.question-user-info-content #{question.Answers.length} answers
            if locals.user
                if locals.user.id === question.user_id
                    .question-actions
                        button(id=`question-edit`).edit-btn Edit
                        button(id=`question-delete`).delete-btn Delete
                            button(id='confirm-edit' hidden=true).confirm-btn Confirm
                            button(id='cancel-edit' hidden=true).confirm-btn Cancel
            .question-content
                span(id='question-content')= question.content


    div(id= `answer-List-container`).answerContainer
        .answer-list-header-box
            i(class="fas fa-graduation-cap" id="profile-grad-icon")
            h2.question-answer-header Answers
            i(class="fas fa-graduation-cap" id="profile-grad-icon")
        if listOfAnswers
            each answer in listOfAnswers
                div(id=`answer-container-${answer.id}`).answer-list-item
                    span(id= `answer-content-${answer.id}`).answer-content= answer.content
                    if locals.user
                        if locals.user.id === answer.user_id
                            div.buttons-comment-action
                                button(id=`${answer.id}-delete` data-inline="true" ).delete-btn-answer Delete
                                button(id=`${answer.id}-edit`  data-inline="true" ).edit-btn-answer Edit
                                button(id=`cancel-edit-${answer.id}` hidden=true).cancel-btn-answer Cancel
                                button(id=`confirm-edit-${answer.id}` hidden=true).confirm-btn-answer Confirm
                                button.show-comment-form.edit-btn.post-answer Post a Comment
                    if locals.user
                        .answer-add-comment-box
                            form(action=`/questions/${question.id}/comments` method="post")
                                input(type="hidden" name="_csrf" value=csrfToken)
                                input(type="hidden" name="answerId" value= answer.id)
                                label(for="new-comment-content") New Comment
                                textarea(type="textarea" name="newCommentContent").create-comment-content
                                button(id="postComment" type="submit") Post Comment
                    div(id= `comment-List-container`).commentListContainer
                        if answer.Comments
                            each comment in answer.Comments
                                div(id=`comment-container-${comment.id}`).comment-list-item
                                    span(id=`comment-content-${comment.id}`).comment-content= comment.content
                                    if locals.user
                                        if locals.user.id === comment.user_id
                                            div.buttonsContainer

                                                button(id=`${comment.id}-delete` data-inline='true').delete-btn.delete-btn-comment Delete Comment
                                                button(id=`${comment.id}-edit` data-inline='true').edit-btn.edit-btn-comment Edit Comment
                                                button(id=`cancel-edit-${comment.id}` hidden=true).cancel-btn-comment Cancel Edit
                                                button(id=`confirm-edit-${comment.id}` hidden=true).confirm-btn-comment Confirm Edit
    if locals.user
        .questions-add-answer-box
            h2.question-answer-header Have the <span>answer</span>?
            +validationErrorSummary(errors)
            form(action=`/questions/${question.id}/answers` method="post" class='question-answer-form')
                input(type="hidden" name="_csrf" value=csrfToken)
                textarea(type="textarea" name="newAnswerContent").create-answer-content.question-answer-textarea=(body === undefined)? "":body.content
                button(type="submit").edit-btn.post-answer Post Answer
