extends layout.pug
include utils.pug
append head
  link(rel="stylesheet", href="/stylesheets/index.css")
  link(rel="stylesheet" href="/stylesheets/questions.css")
  script(src="/javascripts/question.js" type="module" defer)
  script(src="/javascripts/answer.js" type="module" defer)
  script(src="/javascripts/comment.js" type="module" defer)


block content

    div(id=`question-container-${question.id}`).questionContainer
              h2= question.title
              span(id='question-content')= question.content
              if locals.user
                if locals.user.id === question.user_id
                    button(id=`question-delete`).delete-btn Delete
                    button(id=`question-edit`).edit-btn Edit
                        button(id='confirm-edit' hidden=true).confirm-btn Confirm
                        button(id='cancel-edit' hidden=true).confirm-btn Cancel
    if locals.user
        .questions-add-answer-box
            +validationErrorSummary(errors)
            form(action=`/questions/${question.id}/answers` method="post")
                input(type="hidden" name="_csrf" value=csrfToken)
                label(for="new-answer-content") New Answer
                textarea(type="textarea" name="newAnswerContent").create-answer-content=(body === undefined)? "":body.content
                button(id="postQuestion" type="submit") Post Answer
    div(id= `answer-List-container`).answerContainer
        if listOfAnswers
            each answer in listOfAnswers
                div(id=`answer-container-${answer.id}`).answerContainer
                    span(id= `answer-content-${answer.id}`).answer-content= answer.content
                    if locals.user
                        if locals.user.id === answer.user_id
                            div.buttonsContainer
                                button(id=`${answer.id}-delete` data-inline="true" ).delete-btn-answer Delete
                                button(id=`${answer.id}-edit`  data-inline="true" ).edit-btn-answer Edit
                                button(id=`cancel-edit-${answer.id}` hidden=true).cancel-btn-answer Cancel
                                button(id=`confirm-edit-${answer.id}` hidden=true).confirm-btn-answer Confirm
                    if locals.user
                        .answer-add-coment-box
                            form(action=`/questions/${question.id}/comments` method="post")
                                input(type="hidden" name="_csrf" value=csrfToken)
                                input(type="hidden" name="answerId" value= answer.id)
                                label(for="new-comment-content") New Comment
                                textarea(type="textarea" name="newCommentContent").create-comment-content
                                button(id="postComment" type="submit") Post Comment
                    div(id= `comment-List-container`).commentListContainer
                        if answer.Comments
                            each comment in answer.Comments
                                div(id=`comment-container-${comment.id}`).commentContainer
                                    span(id=`comment-content-${comment.id}`).comment-content= comment.content
                                    if locals.user
                                        if locals.user.id === comment.user_id
                                            div.buttonsContainer
                                                button(id=`${comment.id}-delete` data-inline='true').delete-btn-comment Delete Comment
                                                button(id=`${comment.id}-edit` data-inline='true').edit-btn-comment Edit Comment
                                                button(id=`cancel-edit-${comment.id}` hidden=true).delete-btn-comment Confirm Edit
                                                button(id=`confirm-edit-${comment.id}` hidden=true).delete-btn-comment Cancel Edit
