extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1 Search Results
  if !listOfQuestions.length
    div.no-results
      h2.no-results No questions matched your desired search. Try asking a question.
  div(id='questionButtonContainer')
    a(href="/questions").edit-btn.search-ask-question-button Ask Question
  div(id='questionList-Container')
    each question in listOfQuestions
          div(id=`question-container-${question.id}`).questionContainer
              h2: a(href=`/questions/${question.id}`).question-title.search-question-title= question.title
              p.question-content= question.content
              .question-info
                p Posted by: #{question.User.dataValues.username}
                a(href=`/questions/${question.id}`).edit-btn.view-question-page Question Page
                .search-answers-content
                  i(class="fas fa-graduation-cap" id="profile-header-grad-icon")
                  p #{question.Answers.length}
              if locals.user
                if locals.user.id === question.user_id
                      button(id=question.id).delete-btn Delete
