extends layout.pug

append head
    script(src="/javascripts/user-profile.js" type='module' defer) 


block content 
    .profile-container
        .profile-user-info
            h1 #{userFound.username}
            .profile-content-box
                .profile-content
                    i(class="fas fa-question" id="profile-question-icon")
                    p Questions asked: #{userFound.Questions.length}
                .profile-content
                    i(class='fas fa-birthday-cake' id='profile-peers-icon')
                    p Member since: #{userFound.createdAt.toDateString()}
                .profile-content
                    i(class="fas fa-graduation-cap" id="profile-grad-icon")
                    p Questions answered: #{userFound.Answers.length}


        .profile-posts-container
            .profile-posts-top
                .profile-questions
                    .profile-subsection-header-box
                        i(class="fas fa-question" id="profile-header-question-icon")
                        h2.profile-subsection-header Asked Questions
                    ul.profile-subsection-list
                        each question in userFound.Questions
                            li.profile-subsection-list-item.profile-table-item
                                p.profile-subsection-list-answers Answers: #{question.Answers.length}
                                p.profile-subsection-list-title: a(href=`/questions/${question.id}` class='profile-table-link') #{question.title}
                                p.profile-subsection-list-date #{question.createdAt.toDateString()}
                .profile-add-questions-box 
                    h3.profile-subsection-header Ready to add a new Question?
                    a(href="/questions"): button.login-button#profile-ask-question-btn I need help :(

            .profile-posts-bottom
                .profile-peers-box
                    .profile-subsection-header-box
                        i(class="fas fa-crown" id='profile-peers-icon')
                        h2.profile-subsection-header Peers
                    ul.profile-peers-list


                .profile-answers
                    if userFound.Answers.length
                        .profile-subsection-header-box
                            i(class="fas fa-graduation-cap" id="profile-header-grad-icon")
                            h2.profile-subsection-header Answered Questions
                        ul.profile-subsection-list
                            each answer in userFound.Answers
                                li.profile-subsection-list-item.profile-table-item
                                    p.profile-subsection-list-answers Votes: #{answer.Votes.length}
                                    p.profile-subsection-list-title: a(href=`/answers/${answer.id}` class='profile-table-link') #{answer.Question.title}
                                    p.profile-subsection-list-date #{answer.createdAt.toDateString()}
                    else
                        .profile-add-questions-box 
                            .profile-subsection-header-box
                                i(class="fas fa-graduation-cap" id="profile-header-grad-icon")
                                h2.profile-subsection-header Answered Questions
                            p.profile-no-answer Uh oh, it seems you have not helped anyone yet!
                            a(href="/questions"): button.login-button#profile-ask-question-btn View Questions
