mixin validationErrorSummary(errors)
    if errors
        div
            p Error(s):
            ul
                each error in errors
                 li= error

mixin field(labelText, fieldName, fieldValue, fieldType)
    div(class='login-form-inputs')
        label(for=fieldName)= labelText
        input(id=fieldName name=fieldName value=fieldValue type=fieldType class='login-text-field')
